body{
    background-image: url("Images/img-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgb(5, 36, 38);
    width: 100%;
    height: auto;

}
.header .logo{
    height: 120px;
    width: 5%;
    margin-left: 30px;
    float: left;


}
.logo img{
    width: 100%;
    height: 100%;

}
.header_title{

    margin-left: 200px;
    margin-right: 200px;
    height: 120px;
}
.header_title h3{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding-top: 30px;
}
.white{
    background-color:rgb(242, 242, 242);
    border-radius: 1%;
    margin-left: 27%;
    margin-right: 27%;
}
.header_white{
    width: 100%;
    height: 100px;
    background-color: rgb(81, 191, 208);
}
.header_white h3{
    font-size: 25px;
    color: white;
    float: left;
    margin-left: 20px;
    margin-top: 32px;
}
.form{
    padding: 10px;
    position: relative;

}
.input-form{
    height: 60px;
    margin: 10px 35px;
}
.form-control{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color :silver;
}
.error-form{
    color: red;
    width: 100%;
    font-size: 16px;
    font-weight:bold;
}
.icon-form{
    height: 35px;
    width: 30px;
    position: relative;
    top: 50px;
    left: 96%;
}
.icon-form-login{
    background-image:url(Images/Icônes/ic-login.png) ;
    background-repeat:no-repeat ;
}
.icon-form-pwd{
    background-image:url(Images/Icônes/ic-password.png) ;
    background-repeat:no-repeat ;
}
.btn-form{
    margin-top: 29px;
    padding: 10px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid darkturquoise;
}
.link-form{
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    color :silver;
    text-decoration: none;
}
